*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to left, #00ccff, #2600ff );
  color:white;
  flex-direction: column;
}

header {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}

main {
  padding: 80px;
  padding-top: 120px;
  margin: 0;
  text-align: left;
  width: 100%;
}

img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: auto;
  width: 50%;
  max-width: 100%;
}

